{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 */
#}
{%
  set classes = [
    'component',
    'component--tabs',
  ]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </section>
{% endblock paragraph %}
