{#
/**
 * @file
 * Hero title field override.
 *
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'lead',
  ]
%}
{% for item in items %}
  <p{{ attributes.addClass(classes) }}>{{ item.content }}</p>
{% endfor %}
