{#
/**
 * @file
 * Default field override from core/classy.
 *
 */
#}
{%
  set classes = [
    'component__title',
    'text-center',
  ]
%}

{% if extra_classes is not null %}
  {% set classes = extra_classes|merge(classes) %}
{% endif %}

{% block title %}
  <h2{{ attributes.addClass(classes) }}>
    {% block items %}
      {% for item in items %}
        {% block item %}
          {{ item.content }}
        {% endblock %}
      {% endfor %}
    {% endblock %}
  </h2>
{% endblock %}
