/* Styles for Skeletor entity browsers.
 * -----------------------------------------------------------------------------
 */

.skeletor-entity-browsers {
  margin-top: 1rem;
}

.skeletor-entity-browsers .view-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.skeletor-entity-browsers__item {
  margin-bottom: 1rem;
  padding: .5rem;
  position: relative;
  max-width: 20rem;
}

.skeletor-entity-browsers__item .form-item {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
