{#
/**
 * @file
 * Theme override for a dropbutton wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the dropbutton menu.
 *
 * @see template_preprocess()
 */
#}
{% if children %}
  {% spaceless %}
    {% block wrapper %}
      <div class="dropbutton-wrapper">
        {% block widget %}
          <div class="dropbutton-widget">
            {% block children %}{{ children }}{% endblock %}
          </div>
        {% endblock widget %}
      </div>
    {% endblock wrapper %}
  {% endspaceless %}
{% endif %}
